<!doctype html>
<html>
    
    <head>
        <title>Feed</title>
    </head>

    <body>

        <h1 id="title">Feed</h1>
        <br>
        <br>

        {%for element in contents %}
            <h4>{{element[0]}}</h4>
            <p>{{element[1]}}</p>
            <br>
        {%endfor%}
    </body>

</html>

<style>
    h1, h4, p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    h1  {
        font-size: 35px;
    }
    #title {
        color: rgb(206, 96, 133)
    }
</style>
